#prerequisite-form-module-choice .item-list ul {
	list-style-type:none;
	margin: 0;
}

#prerequisite-form-module-choice ul .highlight {
	background-color: #afa;
}

#prerequisite-form-module-choice .item-list>h3 {
	padding-top: 2em;
	padding-bottom: 0.1em;
	border-bottom: 1px solid #aaa;
}

#prerequisite-form-module-choice .item-list .item-list h3 {
	padding-top: 0;
	border-bottom: 1px solid #ddd;
	font-style: normal;
	font-size: 0.95em;
	color: #555;
}

#prerequisite-form-module-choice .item-list .item-list .item-list h3 {
	padding-top: 0;
	border-bottom: 1px solid #ddd;
	font-style: italic;
	font-weight: normal;
	font-size: 0.95em;
	color: #555;
}

#prerequisite-form-module-choice .item-list .item-list .unavailable h3 {
	border-bottom: 1px solid #aaa;
}

#prerequisite-form-module-choice .item-list ul li {
	list-style-type:none;
	list-style-image: none;
	margin: 0;
}
#prerequisite-form-module-choice .item-list  {
	clear: both;
}

#prerequisite-form-module-choice .item-list .item-list {
	clear: none;
}

#prerequisite-form-module-choice .item-list .item-list .item-list {
	clear: both;
	width: auto;
	float: none;
	padding-left: 2%;
}

#prerequisite-form-module-choice .item-list .item-list .item-list li {
	background-color: #fafafa;
	padding-left: 1%;
	border-left: 3px solid #aaa;
}

#prerequisite-form-module-choice .item-list .form-item {
	display: block;
	margin: 0.2em 0 0 0.5%;
	padding: 0.2em 0.5% 0.2em 0.5%;
	height: auto;
	background-color: white;
	border: 1px solid #aaa;
}

#prerequisite-form-module-choice .item-list .form-item label{
	display: inline-block;
	margin: 0;
	height: auto;
}

#prerequisite-form-module-choice .item-list .item-list {
	width: 48%;
	padding-right: 1%;
	float: left;
}


#prerequisite-form-module-choice .term_programme {
	background-color: #f3f3f3;
}

#prerequisite-form-module-choice .term_programme li {
	border-bottom: 1px solid #ddd;
	padding: 0em 0 0.2em 0;
}

#prerequisite-form-module-choice .term_programme li .status {
	display:block;
	font-style: italic;
		padding-right: 1%;
	text-align: right;
}

#prerequisite-form-module-choice

#prerequisite-form-module-choice .term_programme li.required .status {
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	
}

#prerequisite-form-module-choice .term_programme .pre_status {
	font-weight: bold;
}



#prerequisite-form-module-choice .term_programme li.selected {
	background-color: #9c9;
	border-bottom: 1px solid #8a8;
}

#prerequisite-form-module-choice .term_programme li.selected .summary {
	border: 1px solid #8a8;
}

#prerequisite-form-module-choice .term_programme li.unavailable {
	background-color: #ddd;
}

#prerequisite-form-module-choice .term_programme li.unavailable .summary {
	background-color: #eee;
}


#prerequisite-form-module-choice .term_programme li .summary {
	background-color: #fafafa;
	color: black;
	border: 1px solid #dfdfdf;

}

@media screen and (min-width: 1200px) {

	#prerequisite-form-module-choice .item-list .form-item {
	display: inline-block;
	width: 55%;
	}
	#prerequisite-form-module-choice .term_programme li .summary {
width:50%;
	padding: 0.1em 0.5em;
	margin: 0.3em 0 0 0;
	display: inline-block;
	}
	#prerequisite-form-module-choice .term_programme li {
		position: relative;
	}
	#prerequisite-form-module-choice .term_programme li .status {
	display: inline-block;
	max-width: 42%;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 0.5% 0 0;
	}
}
#prerequisite-form-module-choice .term_programme li input {
	margin: 0 0 0 0;
	vertical-align: bottom;

}